<!DOCTYPE html>
<html>

<head>
    <title>Event Attendee Predictor</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Event Attendee Predictor</h1>
        </div>

        <form action="/getprediction" method="POST">
            <h4>Event Date</h4>
            <input type="date" id="eventdate" name="date"/>

            <h4>Event Agenda</h4>
            <textarea rows="4" cols="50" name="agenda"></textarea>

            <h4>Event Length (in hours)</h4>
            <input type="number" id="eventlength" name="length" step="0.1" min="0.5" max="500"/>

            <h4>Event Venue</h4>
            <input type="checkbox" onClick="selectAll(this, 'venue')" /> Select All
            <br/>
            <input type="checkbox" name="venue" value="offices"> Microsoft Office(s)
            <br/>
            <input type="checkbox" name="venue" value="stores"> Microsoft Store(s)
            <br/>
            <input type="checkbox" name="venue" value="schools"> School(s)
            <br/>
            <input type="checkbox" name="venue" value="premises"> Partner Premises
            <br/>
            <input type="checkbox" name="venue" value="other"> Other
            <br/>

            <h4>Audience (Age)</h4>
            <input type="checkbox" onClick="selectAll(this, 'audience')" /> Select All
            <br/>
            <input type="checkbox" name="audience" value="under5"> Under 5
            <br/>
            <input type="checkbox" name="audience" value="6to11"> 6 - 11
            <br/>
            <input type="checkbox" name="audience" value="12to17"> 12 - 17
            <br/>
            <input type="checkbox" name="audience" value="18to22"> 18 - 22
            <br/>
            <input type="checkbox" name="audience" value="23Over"> 23+
            <br/>
            <input type="checkbox" name="audience" value="industry"> Industry Respresentatives
            <br/>
            <input type="checkbox" name="audience" value="educators"> Educators
            <br/>
            <input type="checkbox" name="audience" value="government"> Government Respresentatives
            <br/>
            <input type="checkbox" name="audience" value="other"> Other
            <br/>

            <h4> <input type="submit" value="Calculate Attendees" onClick="checkValExists(this)"/> </h4>
        </form>

        <footer class="footer">
            <p>&copy; Microsoft Corporation</p>
        </footer>
    </div>
</body>

<script>
    // selects all checkboxes
    function selectAll(source, name) {
        checkboxes = document.getElementsByName(name);
        for (var i = 0; i < checkboxes.length; i++)
            checkboxes[i].checked = source.checked;
    }

    // checks for invalid values
    function checkValExists(source){
        var noVal = 0;

        if(document.getElementsByName("date").values == "mm/dd/yyyy")
            noVal = 1;

        if(noVal == 0 && document.getElementsByName("agenda").length == 0)
            noVal = 1;
        
        if(noVal == 0 && document.getElementsByName("length").length == 0)
            noVal = 1;

        if(noVal == 0) {
            noVal = 1;
            checkboxes = document.getElementsByName("venue");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked)
                    noVal = 0;
            }
        }

        if(noVal == 0) {
            noVal = 1;
            checkboxes = document.getElementsByName("audience");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked)
                    noVal = 0;
            }
        }

        if(noVal == 1)
            alert("Please fill in all the values of the form.");
    }
</script>

</html>